<!DOCTYPE html>
<html>
    <head>
        <style>
        body {
            background-color: #af6565;
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        h1 {
            font-size: 48px;
        }

        p, a {
            font-size: 24px;
        }

        a { 
            color: rgb(240, 231, 231);
            font-weight: bold;
        }
        </style>
    </head>
    <body>
        <title>DICTIONARY!</title>
        <h1>Choose a letter!</h1>
        <ul>
            {% for i in l %}
            <li><a href="{{url_for('words', look = i)}}">{{i}}</a></li>
            {%endfor%}
        </ul>
    </body>
</html>